body {
    font-family: sans-serif;
}
h1 {
    margin: 10px;
}
p {
    margin: 0 10px;
}
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.chart {
    width: 900px;
    height: 500px;
    padding: 10px;
}
.chart a {
    float: right;
}