body {
    margin: 0;
    padding: 10px;
    font-family: sans-serif;
}
h1 {
    margin-bottom: 0;
}
p {
    margin: 0;
}
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
